@import "tailwindcss";

html {
  font-size: 18px; /* default 16px — increase for larger text */
}

body {
  @apply font-sans text-gray-800 leading-relaxed;
  /* font-family: "Inter", sans-serif; optional clean font */
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  display: flex;
  width: max-content;
  animation: scroll 18s linear infinite;
  will-change: transform;
}
